main {
    position: absolute;
    top: 130vh;
    left: 40vw;

    section {
        display: flex;
        flex-direction: column;
    }
    button {
        z-index: 6;
        width: 200px;
        height: 80px;
        cursor: pointer;
        margin-left: 20%;
        margin-top: 170%;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(77, 77, 77);
        border: none;
        background: none;
    }
    
    .single-card {
        height: 400px;
        width: 250px;
        background-color: #fff;
        border-radius: 10px;
        border: #0C1325 solid 4px;
        outline: #fff solid 5px;
        outline-offset: 0px;
        color: black;
        padding: 10px 10px;
        position: absolute;
        z-index: 5;
        transform-origin: bottom left;
        
    }   h1 {
        font-size: 15px;
        color: rgb(77, 77, 77);
        font-family: 'Courier New', Courier, monospace;
    }   h2 {
        color: #F88A25;
    }   p {
        color: #0C1325;
        font-size: 16px;
    }   span {
        color: rgb(77, 77, 77);
        font-family: "Monomaniac one";

    }
    .middle{
        transform: rotate(0deg);
        z-index: 5;
        box-shadow: -37px -26px 40px -23px rgba(0,0,0,0.1);

    }
    .left1{
        transform: rotate(-8deg);
        z-index: 4;
        transition: 0.3s;
    }
    .left2{
         transform: rotate(-16deg);
        z-index: 3;
        transition: 0.3s;
        
    }
    .left3{
         transform: rotate(-24deg);
        z-index: 2;
        transition: 0.3s;

    }
    .left4{
         transform: rotate(-32deg);
        z-index: 1;
        transition: 0.3s;

    }
    
    
    
    
    .right3 {
        transform: rotate(1deg);
        z-index: 4;
        transition: 0.3s;


    }
    .right2 {
        transform: rotate(2deg);
        z-index: 3;
        transition: 0.3s;

    }
    .right1 {
        transform: rotate(3deg);
        z-index: 2;
        transition: 0.3s;

    }
    .right0 {
        transform: rotate(4deg);
        z-index: 1;
        transition: 0.3s;

    }

}