<main *ngFor="let card of cards"> 
    <section>
        <div class="right{{card.id}} single-card" id="card{{card.id}}" (click)="cardShuffle(card.id)">
            <h2>{{card.title}}</h2>
            <p> {{card.description}} </p>
            <h1> {{card.subTitle}} </h1>
            <div class="logos">
                <img src="{{card.iconUrl[0].url}}">
                <img src="{{card.iconUrl[1].url}}">
                <img src="{{card.iconUrl[2].url}}">
                <img src="{{card.iconUrl[3].url}}">
            </div> 
        </div>
        <button class="" (click)="showProjet(card.id)">START</button>
    </section>
</main>
<app-appli-meteo [showMeteo]="showMeteo" [ville]="ville"></app-appli-meteo>