<div class="nav">
    <div class="contact rs">
        <i  (click)="showContact=!showContact;" 
        class="fa fa-file-text" style="font-size: 50px;" 
        (mouseenter)="isHovered=!isHovered" (mouseleave)="isHovered=!isHovered"></i> 
        <svg [ngClass]="{clicked: showContact, hover: isHovered}" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32.5" r="32" stroke="white" stroke-dasharray="2 4 6 8"/>
        </svg>
    </div>

    <div class="linkedin rs">
        <a href="https://fr.linkedin.com/" target="_blank">
            <img (mouseenter)="onHover1()" (mouseleave)="noHover()" src="assets/linkedin.png">
        </a>
        <svg [class]="svg1" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle [class]="svg1" cx="32.5" cy="32.5" r="32" stroke="white" stroke-dasharray="2 4 6 8"/>
        </svg> 
    </div>
    <div class="github rs">
        <a href="https://github.com/Tissmax" target="_blank">
            <img (mouseenter)="onHover2()" (mouseleave)="noHover()" src="assets/github.png" >
       </a>
        <svg [class]="svg2" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle [class]="svg2" cx="32.5" cy="32.5" r="32" stroke="white" stroke-dasharray="2 4 6 8"/>
        </svg>
    </div>
    
</div>
<app-contact [showContact]="showContact"></app-contact>




    