<div class="nav">
    <div class="linkedin rs">
        <a href="https://fr.linkedin.com/" target="_blank">
            <img (mouseenter)="onHover1()" (mouseleave)="noHover()" src="assets/linkedin.png">
        </a>
        <svg [class]="svg1" width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle [class]="svg1" cx="45" cy="45" r="44.5" stroke="white" stroke-dasharray="2 4 6 8"/>
        </svg> 
    </div>
    <div class="github rs">
        <a href="https://github.com/Tissmax" target="_blank">
            <img (mouseenter)="onHover2()" (mouseleave)="noHover()" src="assets/github.png" >
       </a>
        <svg [class]="svg2" width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle [class]="svg2" cx="45" cy="45" r="44.5" stroke="white" stroke-dasharray="2 4 6 8"/>
        </svg> 
</div>

    