
p {
    font-size: 40px;
    margin: 0 0 0 0;
    padding-right: 120px;
    z-index: 1;
}

.blur {
    filter: blur(4px);
}


#hautDePage {
    height: 100vh;
    background-color: #0C1325;

    .pragrapheIntro {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        padding: 15% 14% 12% 0%;
        
    }
    
    #bonjour {
        font-size: 140px;
        font-weight: 600;
        letter-spacing: -4px;
        color: #F88A25;
        padding-right: 240px;
        margin: 0 0 0 0;
        z-index: 1;
    }
    .cercles {
        position: relative;
        bottom: 150px;
        right: 400px;
        z-index: 0;
        
        .cerclePetit, .cercleGrand {
            position: absolute;
        }
        
        .cerclePetit {
            top: 210px;
            left: 180px;
            stroke-dasharray: 0;
            stroke-dashoffset: 247;
            animation: dash 10s linear infinite;
        }
    
        .cercleGrand {
            stroke-dashoffset: 382;
            stroke-dashoffset: 0;
            animation: dash2 15s linear reverse infinite;
        }
        .hoverCercle {
            animation: fadeIn 0.5s;
            fill: #F88A25;
            stroke: #0C1325;
        }
    }
}


#basDePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;


    h1, h2 {
        font-size: 100px;
        margin: 0;
    }

    h2 {
        color: #F88A25;
    }

    button {
        margin-top: 10%;
        border: none;
        background-color: transparent;
        height: 0;
        padding: 0;
        cursor: pointer;

    }

    .hover {
        border: 8px solid white;
        -webkit-mask: 
          conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
           var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
          conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
           0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
          linear-gradient(#000 0 0) padding-box no-repeat;
        transition: .3s, -webkit-mask-position .3s .3s;
      }
      .hover:hover {
        --_i: 100%;
        color: #0C1325;
        transition: .3s, -webkit-mask-size .3s .3s;
      }

      .hover1 {
        border: 8px solid #F88A25;
        -webkit-mask: 
          conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
           var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
          conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
           0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
          linear-gradient(#000 0 0) padding-box no-repeat;
        transition: .3s, -webkit-mask-position .3s .3s;
      }
      .hover1:hover {
        --_i: 100%;
        color: white;
        transition: .3s, -webkit-mask-size .3s .3s;
      }

    .mesProjets, .monParcours {
        height: 50%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .mesProjets {
        background-color: #F88A25;
        
    }
    .monParcours {
        background-color: #0C1325;
        
    }
}

   




@keyframes dash {
    from {
        stroke-dashoffset: 247;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash2 {
    from {
        stroke-dashoffset: 382;
    }
    to {
        stroke-dashoffset: 0;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}