span {
    color: #F88A25;
}
.bleuHover {
    color: #0C1325;
    transition: .5s;
}
p {
    font-size: 40px;
    margin: 0 0 0 0;
    padding-right: 120px;
    z-index: 1;
}

.blur {
    filter: blur(4px);
    transition: 0.4s;
}

#hautDePage {
    height: 100vh;
    background-color: #0C1325;

    .pragrapheIntro {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        padding: 30vh 12vw 15vh 0vw;
        
    }
    
    #bonjour {
        font-size: 140px;
        font-weight: 600;
        letter-spacing: -4px;
        color: #F88A25;
        padding-right: 240px;
        margin: 0 0 0 0;
        z-index: 1;
    }
    .cercles {
        position: relative;
        bottom: 150px;
        right: 400px;
        z-index: 0;
        
        .cerclePetit, .cercleGrand {
            position: absolute;
        }
        
        .cerclePetit {
            top: 210px;
            left: 180px;
            stroke-dasharray: 0;
            stroke-dashoffset: 247;
            animation: dash 10s linear infinite;
        }
    
        .cercleGrand {
            stroke-dashoffset: 382;
            stroke-dashoffset: 0;
            animation: dash2 15s linear reverse infinite;
        }
        .hoverCercle {
            animation: fadeIn 0.5s;
            fill: #F88A25;
            stroke-opacity: 0;
            transition: .2s;
        }
    }
}


#basDePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;


    h1, h2 {
        font-size: 100px;
        margin: 0;
    }

    h2 {
        color: #F88A25;
    }

    button {
        margin-top: 10%;
        border: none;
        background-color: transparent;
        height: 0;
        padding: 0;
        cursor: pointer;

    }

      .hover:hover {
        color: #0C1325;
        transition: 0.5s;
      }

      .hover1:hover {
        color: white;
        transition: 0.5s;
      }

    .mesProjets, .monParcours {
        height: 50%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .mesProjets {
        background-color: #F88A25;
        
    }
    .monParcours {
        background-color: #0C1325;
        
    }
}

   




@keyframes dash {
    from {
        stroke-dashoffset: 247;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash2 {
    from {
        stroke-dashoffset: 382;
    }
    to {
        stroke-dashoffset: 0;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}