/* You can add global styles to this file, and also import other style files */
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .monomaniac-one-regular {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

html {
    background-color: #0C1325;
    color: white;
}
h1, span {
    color: white;
    font-family: "Lobster";
}
h2, p, a {
    color: white;
    font-family: "Monomaniac one";
    text-decoration: none;
}