/* You can add global styles to this file, and also import other style files */
html {
    background-color: #0C1325;
    color: white;
}
h1 {
    color: white;
    font-family: "Lobster";
}
h2, p {
    color: white;
    font-family: "Monomaniac one";
}